page-replenish-list {
	ion-grid ion-col {
		padding: 0px !important;
		border: 1px solid #e6e9ee;
	}
	ion-grid ion-col div {
	    border-radius: 2px;
	    padding: 5px;
	    text-align: center;
	}
	ion-grid ion-col div.tblHeader{
		background-color: #ebebeb;
	}
	
	ion-grid ion-col div.highPrio{
		color: #ff0000;
	}
	ion-grid ion-col div.selectedRow{
		background-color: #659ef3;
	}

	ion-grid ion-col div.highPrio-selectedRow{
		color: #ff0000;
		background-color: #659ef3;
	}

	ion-grid {
		padding: 0px !important;
		font-weight: bold;
	}

	ion-row.high-prio{
		font-color: #ff0000;
	}


	ion-item.item-content {
	    padding-top: 1px;
	    padding-bottom: 1px;
	    height: 12px;
	    line-height:12px
	}

    hr {
	    border: 0;
	    height: 1px;
	    background: #444;
	    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
 	}

 	ion-content {
 		height: 100%;
 	}
 	.border{
		border:1px solid #d0d6df; 		
 	}
 	.w100 {
 		width:100px;
 	}
	
 	.order-info-head {
 		height: 36px;
	    p {
	      color: #444;
	      font-size: 14px;      
	      margin-top: 6px;
	    }
	    span {
	      font-weight: bold;
	      font-size: medium;
	      color: #34354c;
	    }
	    button{
	      margin-top: 0px;
	    }   
	    input {
	      font-size: medium;
	      color: #34354c;      
	    }	    
  	}

 	.order-info {
 		height: 32px;
	    p {
	      color: #444;
	      font-size: 14px;      
	      margin-top: 1px;
	    }
	    span {
	      font-weight: bold;
	      font-size: medium;
	      color: #34354c;      
	    }
	    input {
	      font-weight: bold;
	      font-size: 1.8rem;
	      color: #34354c;      
	    }
	    ion-checkbox{
	    	padding-top: 13px;
	    }
  	}

}
