<ion-header>

  <ion-navbar color="headerColor" >
    <button ion-button menuToggle >
      	<ion-icon name="menu"></ion-icon>
    </button>

	<ion-buttons end>
		<button ion-button (click)="onGotoHome()">
      		<ion-icon name="home"></ion-icon> 
  		</button> 
	</ion-buttons>    

    <ion-title>{{ 'PLACEINTOTE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-label>
		{{ 'PLACEINTOTE_LABEL' | translate }}
	</ion-label>
	<ion-grid>
		<ion-row>
			<ion-col col-3>
			    <div class="tblHeader">{{ 'BINLOCAION_LABEL' | translate }}</div>
			</ion-col>
			<ion-col col-3>
				<div class="tblHeader">{{ 'STOCK_LABEL' | translate }}</div>
			</ion-col>
			<ion-col col-3>
				<div class="tblHeader">{{ 'PICKQTY_LABEL' | translate }}</div>
			</ion-col>
			<ion-col col-3>
				<div class="tblHeader">{{ 'CONFIRMQTY_LABEL' | translate }}</div>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let productOrder of productOrderList">
			<ion-col col-3>
			    <div> {{productOrder.binLocation}} </div>
			</ion-col>
			<ion-col col-3>
				<div> {{productOrder.stockCode}} </div>
			</ion-col>
			<ion-col col-3>
				<div> {{productOrder.pickQty}} </div>
			</ion-col>
			<ion-col col-3>
				<div> {{productOrder.confirmQty}} </div>
			</ion-col>
		</ion-row>
		
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col col-2 >
				<ion-label class="font2" text-right> {{ 'TOTE_TITLE' | translate }} : </ion-label>
			</ion-col>
			<button ion-button clear  *ngIf="user.hasTotes=='Y'" color="primary" type="button" item-left (click)="onShowKeyPad()"> <ion-icon color="primary" name="keypad"> </ion-icon> </button>
			<ion-col col-7>
				<ion-item>			
          			<ion-input #toteBarCodeInputBox type="text" 
          			[disabled]="user.hasTotes=='N' ? true:false"
          			[placeholder]="user.hasTotes=='N' ? 'No Scan Required. Click Go':'Barcode'" 
          			[value]="toteBarcode" [(ngModel)]="toteBarcode" name="toteBarcode"   ng-focus="focus=false" ng-blur="focus=false"  (change)='onChangedToteBarcode($event.target.value)'></ion-input>          			
				</ion-item>
			</ion-col>

			<ion-col col-2>
				<button ion-button color="secondary" (click)="openPage()">{{ 'GO_BUTTON' | translate }}</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>
