
  Generated template for the ScanProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  >
	<ion-navbar color="headerColor">
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon> 
  		</button>

		<ion-buttons end>
<!-- 			<button ion-button (click)="onGotoScanOrder()">
	      		<ion-icon name="barcode"></ion-icon> 
	  		</button> 			
 -->			<button ion-button (click)="onGotoHome()">
	      		<ion-icon name="home"></ion-icon> 
	  		</button> 
		</ion-buttons>

	    <ion-title>{{title}}</ion-title>	    
	</ion-navbar>
</ion-header>

<ion-content padding >
	<!-- <div (window:keypress)="onKeyDown($event)"> -->
	<ion-grid *ngIf="!scanStarted">		
		<ion-row padding-top>
			<ion-col offset-3>
				<ion-label class="font2">{{ 'ORDER_LABEL' | translate }}#: {{user.orderInfo.orderBarcode}}</ion-label>
				<ion-label class="font2">{{ 'SCANPRODUCT_LABEL' | translate }}</ion-label>			
			</ion-col>
		</ion-row>
		<ion-row  padding-top>
			<ion-col col-1 offset-2 text-right>
			  <button ion-button clear color="primary" type="button" (click)="onShowKeyPad()"> <ion-icon color="primary" name="keypad"> </ion-icon> </button>		        	
		 	</ion-col>			
			<ion-col col-6 style="position: initial;">
				<ion-item class="font2">
		          <ion-input #barCodeInputBox type="text" placeholder="Barcode Here" [value]="productBarCode" [(ngModel)]="productBarCode" name="productBarCode"    ng-focus="focus=false" ng-blur="focus=false"  (change)='onChangedProductBarCode($event.target.value)'></ion-input>
		        </ion-item>        		
			</ion-col>	
	        <ion-col col-1>
		        <button ion-button color="secondary" (click)="firstScan()">{{ 'GO_BUTTON' | translate }}</button>
		    </ion-col>				        
    	</ion-row>

    	<hr/>

		<ion-row>
			<ion-col col-9>
				<ion-row>
					<ion-col col-4 class="nextBinCol" *ngFor="let binCode of user.orderInfo.binLocations">
						<ion-label >{{binCode}}</ion-label>
					</ion-col>
				</ion-row>
			</ion-col>			
 			<ion-col col-3>
<!-- 				<button  ion-button block full color="secondary" [disabled]="user.orderInfo.countProductScaned==0" (click)="openPage()" >{{ 'PLACEINTOTE_BUTTON' | translate }}</button>
 -->			</ion-col>
 		</ion-row>

	</ion-grid>	    	

	<ion-grid *ngIf="scanStarted">

	    <ion-row class="order-info-head">
	      <ion-col col-2 text-right><p>Scan:</p>
		  </ion-col>

		  <ion-col col-1 text-right>
			<button ion-button clear color="primary" type="button" item-left (click)="onShowKeyPad()"> <ion-icon color="primary" name="keypad"> </ion-icon> </button>
		  </ion-col>

	      <ion-col col-2>
  			<ion-input class="border"  text-center placeholder="Barcode Here" #barCodeInputBox1 type="text" [value]="productBarCode1" [(ngModel)]="productBarCode1" name="productBarCode1"   ng-focus="focus=false" ng-blur="focus=false"  (click)="onClickBarcode1()" (ionFocus)="onClickBarcode1()" (change)='onChangedProductBarCode1($event.target.value)'>
   			</ion-input>
	      </ion-col>

		  <ion-col col-1 text-right><p>{{'BIN_LABEL'|translate }}:</p></ion-col>
	      <ion-col col-2><span>{{productInfo.binLocation}}</span></ion-col>

	      <ion-col col-2 text-right><p>{{'ORDER_LABEL'|translate }}:</p></ion-col>
	      <ion-col col-2><span>{{productInfo.orderNumber}}</span></ion-col>
	    </ion-row>

		<hr/>

		<ion-row class="order-info-head">
			<ion-col col-2 text-right><p>{{'STOCK_LABEL'|translate }}:</p></ion-col>
			<ion-col col-2><span>{{productInfo.stockCode}}</span></ion-col>
			<ion-col col-8><p>{{productInfo.description}}</p></ion-col>
		</ion-row>
		
 		<ion-row>
 			<ion-col col-6>	
 				<ion-row class="order-info">
					<ion-col col-4 text-right><p>{{'PICKUNIT_LABEL'|translate}}:</p></ion-col>
<!-- 					<ion-col col-4 ><ion-label [color]="pickUnitSensitive? 'danger':''" >{{productInfo.pickUnit}}</ion-label></ion-col> -->
 					<ion-col col-4 ><ion-label [class]="productInfo.pickUnitSensitive=='Y'? 'Sensitive':''" >{{productInfo.pickUnit}}</ion-label></ion-col>
					<ion-col col-4><ion-checkbox *ngIf="productInfo.pickUnitSensitive=='Y'" [(ngModel)]="pickUnitSensitive" [color]="productInfo.pickUnitSensitive=='Y'? 'danger':''" ></ion-checkbox></ion-col>
				</ion-row>
 				<ion-row class="order-info">
					<ion-col col-4 text-right><p>{{'PICKQTY_LABEL'|translate }}:</p></ion-col>
					<ion-col col-8><span> {{productInfo.pickQty}}</span></ion-col>
				</ion-row>
				<ion-row class="order-info">
					<ion-col col-1></ion-col>
					<ion-col text-wrap text-right col-3><p>{{'CONFIRMQTY_LABEL'|translate}}:</p></ion-col>
					<ion-col col-8 style="position: initial;">
						<ion-input #confirmedInputBox class="border w100" type="text" [value]="confirmedPick" [(ngModel)]="confirmedPick" (change)='onChangeConfirmQty($event.target.value)' (ionFocus)="onConfirmQtyFocused()" ></ion-input>
					</ion-col>
				</ion-row>
 			</ion-col>

 			<ion-col col-6 [style]="productInfo.img_url">
				<div style="height:72px; width:auto;">
			      <img [src]="imageUrl" (error)="updateImageUrl($event)">
				</div> 					
			</ion-col>		
		</ion-row>

		<hr/>
		<ion-row>
			<ion-col col-9>
				<ion-row>
					<ion-col col-4 class="nextBinCol" *ngFor="let binCode of user.orderInfo.binLocations">
						<ion-label [style.color]="productInfo.binLocation==binCode? 'gray' :'white'" >{{binCode}}</ion-label>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-3>
<!-- 				<ion-row class="order-info"></ion-row>	
				<ion-row class="order-info"></ion-row>
				<button *ngIf="scanStarted" ion-button block full color="secondary" 
				[disabled]="productInfo.pickUnitSensitive=='Y' && !pickUnitSensitive" (click)="onConfirmClicked()">
					{{ 'CONFIRM_BUTTON' | translate }} {{confirmedPick}}
				</button>
 -->			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
