page-scan-product {
	.nextBinCol {
	    border-radius: 2px;
	    border: 1px solid black;
	    padding: 0px !important;
	    text-align: center;
	    background-color: #ffa834;
		font-weight: bold;
		color: white;
		font-size: 1.2em;
	}

	ion-item.item-content {
	    padding-top: 1px;
	    padding-bottom: 1px;
	    height: 12px;
	    line-height:12px
	}
}

