// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-title {
  text-align: center;
}
.font1 {
	font-size: 1em;
}
.font2 {
	font-size: 1.5em;
}
.font3 {
	font-size: 2em;
}


ion-modal.inset-modal_prompt_right_side {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .05s ease-in-out;
  padding: 2vh 10vw 2vh 30vw;
}

ion-modal.inset-modal_prompt_noraml {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .05s ease-in-out;
  padding: 2vh 20vw 2vh 20vw;
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 25vw 20vh;
}


ion-modal.inset-modal_2{
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 7vh 15vw;
}
