<div (window:resize)="onWindowResize($event)" class="center" [style.width]="width">

	<!-- Keyboard toolbar (Hide & delete buttons) -->
	<div class="kb-toolbar">
		<ion-icon name="arrow-dropdown" (click)="hide()"></ion-icon>
		<label style="text-align: center; width: 100%;">{{contentString}}</label>
		<span><ion-icon name="backspace" (click)="deleteClick($event)"></ion-icon></span>
	</div>

	<!-- Keys -->
	<div class="kb-row" [style.zoom]="zoom" *ngFor="let n of m_main_rows">
		<div class="kb-key-cell" *ngFor="let m of m_main_cols">
			<div class="kb-key" (click)="cKClick($event, keysTab[n + m])">
				{{keysTab[n + m]}}
			</div>
		</div>
	</div>	
</div>